a[href='http://google.com']{
    background-color: chocolate;
    color:  white;

 } 
  a[href^='https']{
    background-color: chocolate;
    color:  white;

 } 

  a[href$='in']{
    background-color: chocolate;
    color:  white;

 } 
  
    a[href*='g']{
    background-color: chocolate;
    color:  white;

 } 